
<header>
  <nav
    class="navbar navbar-expand-lg fixed-top navbar-dark"
    style="background-color: #342f2f; px-4"
  >
    <div class="container">
      <a class="navbar-brand" href="/">
        <img
          src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt="我的餐廳清單"
        />
        我的餐廳清單
      </a>
      {{#if user}}
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            {{#if user.is_admin}}
              <li class="nav-item">
              <a href="/admin/restaurants">
                <button
                  class="btn btn-outline-secondary my-2 mx-1"
                >Admin 後台</button>
              </a>
            </li>
            {{/if}}
            <li class="nav-item d-inline-flex align-items-center">
              <span class="text-white nav-link">Hi, {{user.email}}</span>
            </li>
            <li class="nav-item">
              <a href="/users/{{user.id}}">
                <button
                  class="btn btn-outline-warning my-2 mx-1"
                >Proflie</button>
                <!-- 加大上下左右間距 -->
              </a>
            </li>
            <li class="nav-item">
              <a href="/restaurants/create">
                <button
                  class="btn btn-outline-info my-2 mx-1"
                >新增餐廳</button>
              </a>
            </li>
            <li class="nav-item">
              <a href="/user/logout">
                <button
                  class="btn btn-outline-danger my-2 mx-1"
                >Logout</button>
              </a>
            </li>

          </ul>
        </div>
      {{/if}}
    </div>
  </nav>
  <div class="banner"></div>
</header>